
<div class="col-md-12">
    <div *ngIf="modules">
        <h5>{{module.moduleName}}</h5>
            <ul *ngFor="let mod of module.moduleDetails">
              <li>{{mod.description1}}</li>
              <li>{{mod.description}}</li>
              <li>{{mod.subtitle}}</li>
              <li>{{mod.subdescription}}</li>
              <li>{{mod.subtitle1}}</li>
              <li>{{mod.subdecription1}}</li>
              <li>{{mod.subtitle2}}</li>
              <li>{{mod.subdescription2}}</li>
              <li>{{mod.subdescription21}}</li>
              <li>{{mod.warn1}}</li>
              <li>{{mod.subdescription22}}</li>
              <li>{{mod.subtitle3}}</li>
              <li>{{mod.subdescription3}}</li>
              <li>{{mod.subdescription33}}</li>
              <li>{{mod.subtitle4}}</li>
              <li>{{mod.subdescription4}}</li>
              <li>{{mod.subtitle5}}</li>
              <li>{{mod.subdescription5}}</li>
            </ul>
        </div>
</div>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" (click)="previous()">Previous</a>
    </li>
    
    <li class="page-item">
      <a class="page-link" (click)="next()">Next</a>
    </li>
  </ul>
</nav>