<div class="" id="login-page"  >
    <div class="form-box">
        <form  >
            <input type="text" class="form-control" placeholder="Email Id">

            <input type="password" class="form-control" placeholder="Password" >
           
            <input type="submit" routerLink="/courses" class="btn btn-social" value="LOGIN" />
            <a routerLink="/signup" class="login-action" title="Sign up">
                <p>New User?&nbsp;Signup</p>
            </a>
        </form>
    </div>
</div>